<template>
  <ValidationProvider
    v-slot="{ errors }"
    :name="vname || $attrs.label"
    :rules="rules"
    :vid="vid || $attrs.name"
    slim
  >
    <v-menu
      v-model="isPickerShown"
      :close-on-content-click="false"
      :nudgeBottom="-20"
      transition="scale-transition"
      offset-y
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          ref="textField"
          v-model="innerValue"
          :error-messages="errors"
          :placeholder="$attrs.label"
          dense
          outlined
          prepend-inner-icon="mdi-calendar"
          readonly
          COMMENT="Bind these last to enable overriding"
          v-bind="$attrs"
          v-on="on"
        />
      </template>
      <v-date-picker
        v-model="innerValue"
        v-bind="$attrs"
        @input="isPickerShown = false"
      />
    </v-menu>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from "vee-validate";

// Utilities
import {
  commonData,
  commonLifecycle,
  commonProps,
  commonWatch,
} from "./common";

/**
 * Vuetify wrapper (with validation)
 */
export default {
  name: "DatePicker",
  components: {
    ValidationProvider,
  },
  props: {
    ...commonProps,
  },
  data() {
    return {
      ...commonData,
      isPickerShown: false,
    };
  },
  watch: {
    ...commonWatch,
  },
  created() {
    commonLifecycle.created(this);
  },
  methods: {
    /**
     * Focus on the field
     */
    focus() {
      return this.$refs.textField.$refs.input.focus();
    },
  },
};
</script>
