<template>
  <div v-if="isAuthenticated" class="home">
    Home Page - Authenticated
  </div>
  <div v-else class="home">
    Home Page - Unauthenticated
  </div>
</template>

<script>
export default {
  name: "Home",
  computed: {
    isAuthenticated() {
      return this.$store.getters["auth/isAuthenticated"];
    },
  },
};
</script>
