<template>
  <PageLayout backgroundClass="authentication-background" center size="small">
    <AuthLayout
      cardClass="page-not-found-card"
      icon="mdi-magnify"
      message="Page Not Found"
    >
      <h1 class="page-not-found__header">Oops!</h1>
      <h2 class="page-not-found__subheader">Something's missing here.</h2>
      <div class="page-not-found__text">
        We can't find the page you've requested. It may have moved or no longer
        exists.
      </div>
      <v-btn class="mt-10" color="primary" large rounded to="/">
        Home
      </v-btn>
    </AuthLayout>
  </PageLayout>
</template>

<script>
// Components
import { AuthLayout } from "@components/layout";

export default {
  name: "PageNotFound",
  components: {
    AuthLayout,
  },
};
</script>

<style lang="scss" scoped>
@import "~@styles/_settings.scss";

.page-not-found-card {
}

.page-not-found__header {
  font-weight: 600;
}

.page-not-found__subheader {
  font-weight: 500;
}

.page-not-found__text {
  margin-top: #{$spacing * 2}px;
}
</style>
