<template>
  <PageLayout backgroundClass="authentication-background" center size="small">
    <AuthLayout
      cardClass="resend-activation-card"
      icon="mdi-email-sync"
      message="Resend Activation"
    >
      <AuthSendActivationEmail />
    </AuthLayout>
  </PageLayout>
</template>

<script>
// Components
import { AuthSendActivationEmail } from "@components/auth";
import { AuthLayout } from "@components/layout";

export default {
  name: "ActivationResend",
  components: {
    AuthLayout,
    AuthSendActivationEmail,
  },
};
</script>

<style lang="scss" scoped></style>
