<template>
  <PageLayout backgroundClass="authentication-background" center size="small">
    <AuthLayout
      cardClass="activate-account-card"
      icon="mdi-account"
      message="Activate Account"
    >
      <template v-if="!isCheckingCode">
        <template v-if="activationErrorMessage">
          <v-alert border="left" type="error">
            {{ activationErrorMessage }}
          </v-alert>
          <span>
            This email code is invalid, and you will need to request another
            email to activate your account.
          </span>
          <v-btn
            :disabled="isCheckingCode"
            class="mt-6"
            color="primary"
            replace
            rounded
            to="/resend-activation"
          >
            Request Activation
          </v-btn>
        </template>
        <template v-else>
          <span class="activate-account-card__name">{{ user.name }}</span>
          <v-alert border="left" type="success">
            Your account has been activated!
          </v-alert>
          <span>
            Sign In to begin using your account!
          </span>
          <v-btn :to="signInLink" class="mt-6" color="primary" replace rounded>
            Sign In
          </v-btn>
        </template>
      </template>
      <ProgressIndicator v-else text="Checking activation code" />
    </AuthLayout>
  </PageLayout>
</template>

<script>
// Components
import { AuthLayout } from "@components/layout";

// GraphQL
import ActivateAccountMutation from "@graphql/mutations/Auth/ActivateAccount";

export default {
  name: "ActivateAccount",
  components: {
    AuthLayout,
  },
  data() {
    return {
      activationErrorMessage: null,
      isCheckingCode: true,
      user: null,
    };
  },
  computed: {
    signInLink() {
      if (!this.user) return "/signin";

      const { email } = this.user;
      if (!email) return "/signin";

      return `/signin?email=${encodeURIComponent(email)}`;
    },
  },
  mounted() {
    this.onSubmit();
  },
  methods: {
    /**
     * Submit the account activation
     */
    async onSubmit() {
      const { code } = this.$route.params;

      this.isCheckingCode = true;

      try {
        const { data } = await this.$apollo.mutate({
          mutation: ActivateAccountMutation,
          variables: {
            input: {
              code,
            },
          },
        });

        const { user } = data.userActivate;

        this.user = user;
        this.isCheckingCode = false;

        this.$notify("Account activated");
      } catch (e) {
        this.isCheckingCode = false;

        const errorMessage = this.$getError(e, "Could not activate account");
        this.$notifyError(errorMessage);

        this.activationErrorMessage = errorMessage;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@styles/_settings.scss";

.activate-account-card__name {
  margin-bottom: #{$spacing * 2}px;
  font-size: 1.5rem;
}
</style>
