<template>
  <PageLayout backgroundClass="authentication-background" center size="small">
    <AuthLayout
      cardClass="password-reset-card"
      icon="mdi-lock"
      message="Reset your password"
    >
      <template v-if="!isCheckingCode">
        <ValidationObserver
          v-if="emailCode && emailCode.isValid"
          ref="formObserver"
          v-slot="{ dirty: isFormDirty }"
          class="password-forget-card__form"
          tag="form"
          @submit.prevent="onSubmit"
        >
          <div class="password-reset-card__instructions">
            Enter a new password.
          </div>
          <TextField
            disabled
            :value="emailCode && emailCode.user.email"
            label="Email"
            name="email"
          />
          <TextField
            ref="passwordField"
            v-model="form.fields.password"
            :disabled="form.loading"
            label="Password"
            name="password"
            rules="required|min:8"
            type="password"
          />
          <TextField
            v-model="form.fields.passwordConfirm"
            :disabled="form.loading"
            label="Confirm Password"
            name="passwordConfirm"
            rules="required|password:@password"
            type="password"
          />
          <v-btn
            :disabled="form.loading || !isFormDirty"
            :loading="form.loading"
            class="mt-2"
            color="primary"
            rounded
            type="submit"
          >
            Reset
          </v-btn>
          <v-btn
            :disabled="form.loading"
            class="mt-4"
            color="primary"
            text
            to="/signin"
          >
            Sign In
          </v-btn>
        </ValidationObserver>
        <template v-else>
          <v-alert border="left" type="error">
            {{ emailCodeErrorMessage }}
          </v-alert>
          <span>
            This email code is invalid, and you will need to send another email
            to reset your password.
          </span>
          <v-btn
            :disabled="isCheckingCode || form.loading"
            class="mt-4"
            color="primary"
            replace
            text
            to="/forgot-password"
          >
            Forgot Password
          </v-btn>
        </template>
      </template>
      <ProgressIndicator v-else text="Checking email code" />
    </AuthLayout>
  </PageLayout>
</template>

<script>
import { ValidationObserver } from "vee-validate";

// Components
import { AuthLayout } from "@components/layout";

// GraphQL
import UserEmailCodeQuery from "@graphql/queries/Auth/UserEmailCode";
import PasswordResetMutation from "@graphql/mutations/Auth/PasswordReset";

export default {
  name: "PasswordReset",
  components: {
    AuthLayout,
    ValidationObserver,
  },
  data() {
    return {
      emailCode: null,
      dummy: false,
      form: {
        loading: false,
        fields: {
          password: "",
          passwordConfirm: "",
        },
      },
    };
  },
  computed: {
    emailCodeErrorMessage() {
      if (!this.emailCode) return "Invalid email code";

      const { isExpired, isInvalidated, isUsed } = this.emailCode;
      if (isExpired) return "Email code has expired";
      if (isInvalidated) return "Email code has been invalidated";
      if (isUsed) return "Email code has already been used";
      return "Invalid email code";
    },
    isCheckingCode() {
      return this.$apollo.queries.emailCode.loading;
    },
  },
  methods: {
    /**
     * Submit the password reset form
     */
    async onSubmit() {
      const valid = await this.$refs.formObserver.validate();
      if (!valid) return;

      const { code } = this.$route.params;
      const { password } = this.form.fields;

      this.form.loading = true;

      try {
        const { data } = await this.$apollo.mutate({
          mutation: PasswordResetMutation,
          variables: {
            input: {
              code,
              password,
            },
          },
        });

        const { user } = data.userPasswordReset;

        this.$router.push({
          path: "/signin",
          query: { email: (user && user.email) || null },
        });

        this.$notify("Password reset successfully");
      } catch (e) {
        this.form.loading = false;

        const errorChecks = [
          { field: "password", code: "USER_PASSWORD_RESET__PASSWORD_INVALID" },
          { field: "password", code: "USER_PASSWORD_RESET__PASSWORD_SAME" },
          { field: "password", code: "USER_PASSWORD_RESET__PASSWORD_WEAK" },
        ];
        this.$refs.formObserver.setErrors(this.$getFormErrors(errorChecks, e));

        this.$notifyError(this.$getError(e));
      }
    },
  },
  apollo: {
    emailCode() {
      return {
        query: UserEmailCodeQuery,
        variables: {
          code: this.$route.params.code,
          codeType: "PASSWORD_RESET",
        },
        result({ data }) {
          const { emailCode } = data;
          if (!emailCode || !emailCode.isValid) return;

          // NOTE: Text field is not shown until next frame (when loading state changes)
          this.$nextTick(() => {
            this.$refs.passwordField.focus();
          });
        },
        error(e) {
          this.$notifyError(this.$getError(e, "Error validating reset code"));
        },
      };
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@styles/_settings.scss";

.password-reset-card__instructions {
  margin-bottom: #{$spacing * 3}px;
  text-align: center;
}

.password-forget-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
</style>
