<template>
  <PageLayout backgroundClass="authentication-background" center size="small">
    <AuthLayout
      cardClass="password-forget-card"
      icon="mdi-lock-question"
      message="Forgot your password?"
    >
      <AuthSendEmail :onSendEmail="onSendEmail">
        <template v-slot:enterEmailPrompt>
          Enter your email address and we'll<br />
          send you a password reset link.
        </template>
        <template v-slot:resendEmailPrompt>
          Please follow the included link to reset your password.
        </template>
      </AuthSendEmail>
    </AuthLayout>
  </PageLayout>
</template>

<script>
// Components
import { AuthSendEmail } from "@components/auth";
import { AuthLayout } from "@components/layout";

// GraphQL
import PasswordForgetMutation from "@graphql/mutations/Auth/PasswordForget";

export default {
  name: "PasswordForget",
  components: {
    AuthLayout,
    AuthSendEmail,
  },
  methods: {
    /**
     * Send a password reset email
     */
    async onSendEmail(email) {
      return this.$apollo.mutate({
        mutation: PasswordForgetMutation,
        variables: {
          input: {
            email,
          },
        },
      });
    },
  },
};
</script>

<style lang="scss" scoped></style>
