<template>
  <PageLayout backgroundClass="authentication-background" center size="small">
    <AuthLayout
      cardClass="signout-card"
      icon="mdi-account-arrow-left"
      message="Signing Out"
    >
      <v-progress-circular color="primary" indeterminate size="50" />
      <div class="signout-card__message">Come back soon!</div>
    </AuthLayout>
  </PageLayout>
</template>

<script>
// Components
import { AuthLayout } from "@components/layout";

// Utilities
import Auth from "@utilities/auth";

const SIGN_OUT_DELAY = 1500;

export default {
  name: "SignOut",
  components: {
    AuthLayout,
  },
  mounted() {
    // Signout after a delay (so user sees something happening)
    setTimeout(() => {
      Auth.signout(() => {
        window.location.replace("/signin");
      });
    }, SIGN_OUT_DELAY);
  },
};
</script>

<style lang="scss" scoped>
@import "~@styles/_settings.scss";

.signout-card {
  padding-bottom: #{$spacing * 8}px;
}

.signout-card__message {
  margin-top: #{$spacing * 4}px;
  font-size: 1.5rem;
}
</style>
