<template>
  <PageLayout backgroundClass="authentication-background" center size="small">
    <AuthLayout
      cardClass="signin-card"
      icon="mdi-account-arrow-right"
      message="Let's get back to it!"
    >
      <template slot="callToAction">
        Or <router-link to="/signup">create an account</router-link> if not
        registered yet
      </template>
      <ValidationObserver
        ref="formObserver"
        v-slot="{ dirty: isFormDirty }"
        class="signin-card__form"
        tag="form"
        @submit.prevent="onSubmit"
      >
        <TextField
          ref="emailField"
          v-model="form.fields.email"
          :disabled="form.loading"
          label="Email"
          name="email"
          rules="required|email"
        />
        <TextField
          ref="passwordField"
          v-model="form.fields.password"
          :disabled="form.loading"
          label="Password"
          name="password"
          rules="required|min:8"
          type="password"
        />
        <v-btn
          :disabled="form.loading || !isFormDirty"
          :loading="form.loading"
          class="mt-2"
          color="primary"
          rounded
          type="submit"
        >
          Sign In
        </v-btn>
        <v-btn
          :disabled="form.loading"
          class="mt-4"
          color="primary"
          text
          to="/forgot-password"
        >
          Forgot password?
        </v-btn>
      </ValidationObserver>
      <v-btn
        slot="bottomAction"
        :disabled="form.loading"
        color="grey lighten-3"
        text
        to="/resend-activation"
      >
        Unactivated Account?
      </v-btn>
    </AuthLayout>
  </PageLayout>
</template>

<script>
import { ValidationObserver } from "vee-validate";

// Components
import { AuthLayout } from "@components/layout";

// Utilities
import Auth from "@utilities/auth";

// GraphQL
import AuthTokenMutation from "@graphql/mutations/Auth/AuthToken";

export default {
  name: "SignIn",
  components: {
    AuthLayout,
    ValidationObserver,
  },
  data() {
    return {
      form: {
        loading: false,
        fields: {
          email: "",
          password: "",
        },
      },
    };
  },
  mounted() {
    const { email } = this.$route.query;
    if (email) {
      this.form.fields.email = email;
      this.$refs.passwordField.focus();
    } else {
      this.$refs.emailField.focus();
    }
  },
  methods: {
    /**
     * Submit the signin form
     */
    async onSubmit() {
      const valid = await this.$refs.formObserver.validate();
      if (!valid) return;

      const { email, password } = this.form.fields;

      this.form.loading = true;

      // Remove existing authentication flag
      Auth.removeAuth();

      try {
        await this.$apollo.mutate({
          mutation: AuthTokenMutation,
          variables: {
            email,
            password,
          },
        });

        // Redirect to previous page (if necessary)
        const { redirectUrl = "/" } = this.$route.query;
        window.location.replace(redirectUrl);
      } catch (e) {
        this.form.loading = false;

        const errorChecks = [
          { field: "email", code: "USER_SIGNIN__INACTIVE_USER" },
          { field: "email", code: "USER_SIGNIN__UNVERIFIED_USER" },
          { field: "password", code: "USER_SIGNIN__INVALID_CREDENTIALS" },
        ];
        this.$refs.formObserver.setErrors(this.$getFormErrors(errorChecks, e));

        const snackbarArgs = {};
        if (this.$hasError(e, "USER_SIGNIN__INACTIVE_USER")) {
          snackbarArgs.buttonText = "Activate";
          snackbarArgs.onClick = () => this.$router.push("/resend-activation");
          snackbarArgs.buttonColor = "black";
        }

        this.$notifyError(
          this.$getError(e, "Invalid sign in attempt"),
          snackbarArgs
        );
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@styles/_settings.scss";

.signin-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
</style>
