<template>
  <PageLayout backgroundClass="authentication-background" center size="small">
    <AuthLayout
      cardClass="signup-card"
      icon="mdi-account-plus"
      message="Let's get started!"
    >
      <template slot="callToAction">
        Or <router-link to="/signin">sign in</router-link> if already registered
      </template>
      <template v-if="!isEmailSent">
        <ValidationObserver
          ref="formObserver"
          v-slot="{ dirty: isFormDirty }"
          class="signup-card__form"
          tag="form"
          @submit.prevent="onSubmit"
        >
          <TextField
            ref="nameField"
            v-model="form.fields.name"
            :disabled="form.loading"
            hint="Name must include first and last name"
            label="Name"
            name="name"
            rules="required|name:4"
          />
          <TextField
            ref="emailField"
            v-model="form.fields.email"
            :disabled="form.loading"
            label="Email"
            name="email"
            rules="required|email"
          />
          <TextField
            ref="passwordField"
            v-model="form.fields.password"
            :disabled="form.loading"
            label="Password"
            name="password"
            rules="required|min:8"
            type="password"
          />
          <TextField
            v-model="form.fields.passwordConfirm"
            :disabled="form.loading"
            label="Confirm Password"
            name="passwordConfirm"
            rules="required|password:@password"
            type="password"
          />
          <v-btn
            :disabled="form.loading || !isFormDirty"
            :loading="form.loading"
            class="mt-2"
            color="primary"
            rounded
            type="submit"
          >
            Signup
          </v-btn>
        </ValidationObserver>
        <v-btn
          slot="bottomAction"
          :disabled="form.loading"
          color="grey lighten-3"
          text
          to="/resend-activation"
        >
          Unactivated Account?
        </v-btn>
      </template>
      <AuthSendActivationEmail v-else :email="form.fields.email" />
    </AuthLayout>
  </PageLayout>
</template>

<script>
import { ValidationObserver } from "vee-validate";

// Components
import { AuthSendActivationEmail } from "@components/auth";
import { AuthLayout } from "@components/layout";

// GraphQL
import SignUpMutation from "@graphql/mutations/Auth/SignUp";

export default {
  name: "Signup",
  components: {
    AuthLayout,
    AuthSendActivationEmail,
    ValidationObserver,
  },
  data() {
    return {
      isEmailSent: false,
      form: {
        loading: false,
        fields: {
          email: "",
          name: "",
          password: "",
          passwordConfirm: "",
        },
      },
    };
  },
  mounted() {
    this.$refs.nameField.focus();
  },
  methods: {
    /**
     * Submit the signup form
     */
    async onSubmit() {
      const valid = await this.$refs.formObserver.validate();
      if (!valid) return;

      const { email, name, password } = this.form.fields;

      this.form.loading = true;

      try {
        await this.$apollo.mutate({
          mutation: SignUpMutation,
          variables: {
            input: {
              email,
              name,
              password,
            },
          },
        });

        this.$notify("Sign up successful");
        this.isEmailSent = true;
        this.form.loading = false;
      } catch (e) {
        this.form.loading = false;

        const errorChecks = [
          { field: "email", code: "USER_SIGNUP__DUPLICATE_ACCOUNT" },
          { field: "name", code: "USER_SIGNUP__INVALID_NAME" },
          { field: "password", code: "USER_SIGNUP__PASSWORD_WEAK" },
          { field: "password", code: "USER_SIGNUP__PASSWORD_INVALID" },
        ];
        this.$refs.formObserver.setErrors(this.$getFormErrors(errorChecks, e));

        this.$notifyError(this.$getError(e, "Invalid signup attempt"));
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@styles/_settings.scss";

.signup-card__instructions {
  margin-bottom: #{$spacing * 3}px;
  text-align: center;
}

.signup-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
</style>
