<template>
  <v-card :class="cardClass" class="auth-layout" elevation="4">
    <div v-if="message" class="auth-layout__message">
      <div class="auth-layout__message__main">
        {{ message }}
      </div>
      <div
        v-if="$slots.callToAction"
        class="auth-layout__message__call-to-action"
      >
        <slot name="callToAction" />
      </div>
    </div>
    <v-avatar class="auth-layout__overlay" size="120">
      <v-icon color="primary" size="60">{{ icon }}</v-icon>
    </v-avatar>
    <slot />
    <div v-if="$slots.bottomAction" class="auth-layout__bottom-action">
      <slot name="bottomAction" />
    </div>
  </v-card>
</template>

<script>
export default {
  name: "AuthLayout",
  props: {
    /**
     * Auth layout card class
     */
    cardClass: {
      default: "",
      type: String,
    },
    /**
     * Avatar overlay icon name
     */
    icon: {
      default: "mdi-account-group",
      type: String,
    },
    /**
     * Optional message above card
     */
    message: {
      default: null,
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@styles/_settings.scss";

// Auth layout parent
.auth-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: #{$spacing * 4}px;
  padding-top: #{$spacing * 8}px;
  // Have to override specific card styles
  border-radius: #{$spacing}px !important;
}

// Auth layout circle overlay
$overlayRadius: 80;
.auth-layout__overlay {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-40%) translateX(-50%);
  background-color: white;
  // Override Vuetify border radius on card children
  border-radius: 50% !important;
}

// Auth layout message
.auth-layout__message {
  position: absolute;
  top: -80px;
  display: flex;
  flex-direction: column;
  transform: translateY(-100%);
  color: white;
  text-align: center;
}

// Auth layout main message
.auth-layout__message__main {
  font-size: 250%;
}

// Auth layout call to action
.auth-layout__message__call-to-action {
  margin-top: #{$spacing}px;
  font-size: 125%;
  font-weight: lighter;
}

// Auth layout bottom action
.auth-layout__bottom-action {
  position: absolute;
  bottom: -24px;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  color: white;
  text-align: center;
}
</style>

<style lang="scss">
.auth-layout {
  .v-alert {
    min-width: 80%;
  }

  .v-btn {
    // min-width: 170px !important;
    &.v-size--default:not(.v-btn--round) {
      height: 44px;
    }
  }
}

// Default styling for "call to action" links
.auth-layout__message__call-to-action {
  a {
    position: relative;
    display: inline-block;
    // Override slightly more specific color
    color: white !important;
    text-decoration: none;
    font-weight: bold;

    &:after {
      content: "";
      display: block;
      margin: auto;
      height: 2px;
      width: 0;
      background: transparent;
      transition: width 0.25s ease-in-out, background-color 0.25s ease-in-out;
    }

    &:hover:after {
      width: 100%;
      background-color: white;
    }
  }
}
</style>
