<template>
  <v-main :class="backgroundClass">
    <v-container
      :class="{ 'container--no-padding': !padding }"
      :fluid="fluid"
      class="fill-height page-layout__container"
    >
      <v-row
        :align="center ? 'center' : 'start'"
        class="page-layout__row"
        no-gutters
      >
        <v-col v-bind="columnProps" :class="classes.content">
          <slot name="default" />
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script>
export default {
  name: "PageLayout",
  props: {
    /**
     * Background class (useful for page backgrounds, etc)
     */
    backgroundClass: {
      default: "",
      type: [Array, String],
    },
    /**
     * List of classes
     */
    classes: {
      type: Object,
      default: () => ({
        content: "",
      }),
    },
    /**
     * Whether content is centered on page
     */
    center: {
      default: false,
      type: Boolean,
    },
    /**
     * Additional customization for column sizes
     */
    columns: {
      default: () => ({}),
      type: Object,
      validator: (value) => {
        const offsetRegex = /^offset(-(sm|md|lg|xl))?$/;
        const sizeRegex = /^(cols|(xs|sm|md|lg|xl))$/;

        return Object.keys(value).every(
          (v) => sizeRegex.test(v) || offsetRegex.test(v)
        );
      },
    },
    /**
     * Whether container should be fluid (fullscreen)
     */
    fluid: {
      default: false,
      type: Boolean,
    },
    /**
     * Whether container provides padding
     */
    padding: {
      default: true,
      type: Boolean,
    },
    /**
     * Container size preset
     */
    size: {
      default: "medium",
      type: String,
      validator: (value) => ["large", "medium", "small"].includes(value),
    },
    /**
     * Whether default columns should be ignored (overrides size)
     */
    resetColumns: {
      default: false,
      type: Boolean,
    },
  },
  data() {
    return {};
  },
  computed: {
    columnProps() {
      const { size } = this;

      // Resetting columns should ignore any default columns from the size
      if (this.resetColumns) {
        return { cols: 12, offset: 0 };
      }

      let defaultColumns = {
        cols: 12,
      };

      if (size === "small") {
        defaultColumns = {
          ...defaultColumns,
          sm: 6,
          "offset-sm": 3,
          xl: 4,
          "offset-xl": 4,
        };
      } else if (size === "medium") {
        defaultColumns = {
          ...defaultColumns,
          sm: 10,
          "offset-sm": 1,
          xl: 8,
          "offset-xl": 2,
        };
      } else if (size == "large") {
        defaultColumns = {
          ...defaultColumns,
          sm: 12,
          xl: 10,
          "offset-xl": 1,
        };
      }

      const overrideColumns = this.columns;
      const mergedColumns = {
        ...defaultColumns,
        ...overrideColumns,
      };

      return mergedColumns;
    },
  },
};
</script>

<style lang="scss" scoped>
// Page background
.page-layout__background {
  width: 100%;
  min-height: 100%;
  display: flex;
  position: relative;
}

// Page layout container
.page-layout__container {
  // NOTE: Unsure why this is needed
  align-items: flex-start;
}

// Page layout row
.page-layout__row {
  // Layout should fill height normally
  min-height: 100%;
}
</style>
