<template>
  <div
    :class="{
      'title-bar--margin': margin,
      'title-bar--page': type === 'page',
      'title-bar--section': type === 'section',
    }"
    class="title-bar"
  >
    <div class="title-bar__title">
      <!-- Page title -->
      <h2 v-if="type === 'page'" class="page-title">
        <slot />
      </h2>
      <!-- Section title -->
      <h3 v-else-if="type === 'section'" class="section-title">
        <slot />
      </h3>
      <!-- Title actions -->
      <div v-if="$slots.left" class="title-bar__actions--left">
        <slot name="left" />
      </div>
      <div v-if="$slots.right" class="title-bar__actions--right">
        <slot name="right" />
      </div>
    </div>
    <!-- Optional subtitle -->
    <div v-if="$slots.subtitle" class="title-bar__subtitle">
      <slot name="subtitle" />
    </div>
  </div>
</template>

<script>
export default {
  name: "TitleBar",
  props: {
    /**
     * Whether title bar has default margins
     */
    margin: {
      default: true,
      type: Boolean,
    },
    /**
     * Title bar level (page vs section)
     */
    type: {
      default: "section",
      type: String,
      validator: (value) => ["section", "page"].includes(value),
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@styles/_breakpoints.scss";
@import "~@styles/_settings.scss";

// Title bar container
.title-bar {
  display: flex;
  flex-direction: column;
}

// Title bar main title
.title-bar__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: $btn-height;

  // Spacing between title and left actions
  .page-title,
  .section-title {
    margin-right: #{$spacing * 3}px;
    font-weight: 400;
  }

  .page-title {
    font-size: 24px;
  }
  .section-title {
    font-size: 22px;
  }

  // Left set of actions
  .title-bar__actions--left {
    margin-right: auto;

    @include xsOnly {
      margin-right: 0;
    }
  }

  // Right set of actions
  .title-bar__actions--right {
    margin-left: auto;

    @include xsOnly {
      margin-left: 0;
    }
  }
}

// Default margin for page/section titles
.title-bar--margin {
  &.title-bar--page {
    margin: #{$spacing * 3}px 0;
  }
  &.title-bar--section {
    margin-bottom: #{$spacing * 2}px;
  }
}

// Title bar subtitle
.title-bar__subtitle {
  margin-top: #{$spacing}px;
}
</style>
