<template>
  <AuthSendEmail
    :email="email"
    :errorChecks="errorChecks"
    :onSendEmail="onSendEmail"
  >
    <template v-slot:enterEmailPrompt>
      Enter your email address and we'll<br />
      send you another account activation link.
    </template>
    <template v-slot:resendEmailPrompt>
      Please follow the included link to activate your account.
    </template>
  </AuthSendEmail>
</template>

<script>
// Components
import AuthSendEmail from "@components/auth/AuthSendEmail";

// GraphQL
import ActivationResendMutation from "@graphql/mutations/Auth/ActivationResend";

export default {
  name: "AuthSendActivationEmail",
  components: {
    AuthSendEmail,
  },
  props: {
    /**
     * Email address
     */
    email: {
      type: String,
      default: null,
    },
  },
  computed: {
    errorChecks() {
      return [
        { field: "email", code: "USER_ACTIVATION_RESEND__ALREADY_ACTIVATED" },
      ];
    },
  },
  methods: {
    /**
     * Resend an account activation email
     */
    async onSendEmail(email) {
      return await this.$apollo.mutate({
        mutation: ActivationResendMutation,
        variables: {
          input: {
            email,
          },
        },
      });
    },
  },
};
</script>

<style lang="scss" scoped></style>
