<template>
  <ValidationObserver
    ref="formObserver"
    v-slot="{ dirty: isFormDirty }"
    class="resend-email-card__form"
    tag="form"
    @submit.prevent="onSubmit"
  >
    <template v-if="!isEmailSent">
      <div class="resend-email-card__instructions">
        <slot name="enterEmailPrompt">
          Enter your email address and we'll<br />
          send you an email with a link.
        </slot>
      </div>
      <TextField
        ref="emailField"
        v-model="form.fields.email"
        :disabled="form.loading"
        label="Email"
        name="email"
        rules="required|email"
      />
      <v-btn
        :disabled="form.loading || !isFormDirty"
        :loading="form.loading"
        class="mt-2"
        color="primary"
        rounded
        type="submit"
      >
        Send Email
      </v-btn>
    </template>
    <template v-else>
      <div class="resend-email-card__instructions">
        We have sent an email to <strong>{{ form.fields.email }}.</strong><br />
        <slot name="resendEmailPrompt" />
      </div>
      <small class="resend-email-card__resend-prompt">
        Didn't receive the email yet?<br />Check your spam folder or try
        resending.
      </small>
      <v-btn
        :disabled="form.loading || isCountdownActive"
        :loading="form.loading || isCountdownActive"
        class="mt-2"
        color="primary"
        rounded
        type="submit"
      >
        Resend Email
        <template v-if="isCountdownActive" v-slot:loader>
          <span class="resend-email-card__resend-loading">
            <v-icon class="mr-2">mdi-lock</v-icon>{{ countdown }} seconds
          </span>
        </template>
      </v-btn>
    </template>
    <v-btn
      :disabled="form.loading"
      :to="signInLink"
      class="mt-4"
      color="primary"
      text
    >
      Sign In
    </v-btn>
  </ValidationObserver>
</template>

<script>
import { ValidationObserver } from "vee-validate";

// Utilities
import { CountdownMixin } from "@plugins";

export default {
  name: "AuthSendEmail",
  components: {
    ValidationObserver,
  },
  mixins: [CountdownMixin],
  props: {
    /**
     * Initial email address (indicates email already sent)
     */
    email: {
      type: String,
      default: null,
    },
    /**
     * List of errors to handle
     */
    errorChecks: {
      type: Array,
      default: () => [],
    },
    /**
     * Whether an email can be sent immediately (or after countdown)
     */
    startEnabled: {
      type: Boolean,
      default: false,
    },
    /**
     * Send email function
     */
    onSendEmail: {
      type: Function,
      required: true,
    },
  },
  data() {
    return {
      isEmailSent: false,
      form: {
        loading: false,
        fields: {
          email: "",
        },
      },
    };
  },
  computed: {
    signInLink() {
      const { email } = this.form.fields;
      if (!email || !this.isEmailSent) return "/signin";

      // Shortcut to filling out sign in form (if email is known)
      return `/signin?email=${encodeURIComponent(email)}`;
    },
  },
  mounted() {
    // If an email is provided, immediately display the resend section
    if (this.email) {
      this.form.fields.email = this.email;
      this.isEmailSent = true;

      if (!this.startEnabled) {
        this.startCountdown(this.resendCountdown);
      }
    } else {
      this.$refs.emailField.focus();
    }
  },
  methods: {
    /**
     * Send the email
     */
    async onSubmit() {
      const valid = await this.$refs.formObserver.validate();
      if (!valid) return;

      const { email } = this.form.fields;

      try {
        await this.onSendEmail(email);

        const message = this.isEmailSent ? "Email resent" : "Email sent";
        this.$notify(message, { icon: "mdi-email" });

        // Prevent quickly resending emails
        this.startCountdown(this.resendCountdown);

        if (!this.isEmailSent) {
          this.isEmailSent = true;
        }
      } catch (e) {
        this.$refs.formObserver.setErrors(
          this.$getFormErrors(this.errorChecks, e)
        );

        this.$notifyError(this.$getError(e, "Failed to send email"));
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@styles/_settings.scss";

.resend-email-card__instructions {
  margin-bottom: #{$spacing * 3}px;
  text-align: center;
}

.resend-email-card__resend-prompt {
  margin-bottom: #{$spacing * 3}px;
  text-align: center;
  font-size: 0.9rem;
}

.resend-email-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.resend-email-card__resend-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
