<template>
  <div
    :class="{
      'button-bar--margin-bottom': marginBottom,
      'button-bar--margin-top': marginTop,
      'button-bar--mobile': stackOnMobile,
    }"
    class="button-bar"
  >
    <div class="button-bar__left">
      <slot name="left" />
    </div>
    <div class="button-bar__right">
      <slot name="right" />
    </div>
  </div>
</template>

<script>
/**
 * Button bar with left and right sections
 */
export default {
  name: "ButtonBar",
  props: {
    /**
     * Whether the button bar should have a bottom margin
     * @type {boolean}
     */
    marginBottom: {
      default: false,
      required: false,
      type: Boolean,
    },
    /**
     * Whether the button bar should have a top margin
     * @type {boolean}
     */
    marginTop: {
      default: true,
      required: false,
      type: Boolean,
    },
    /**
     * Whether buttons stack on mobile
     * @type {boolean}
     */
    stackOnMobile: {
      default: true,
      required: false,
      type: Boolean,
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@styles/_settings.scss";
@import "~@styles/_breakpoints.scss";

// Action bar wrapper
.button-bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.button-bar--margin-bottom {
    margin-bottom: #{$spacing * 2}px;
  }
  &.button-bar--margin-top {
    margin-top: #{$spacing * 2}px;
  }

  // Buttons can be displayed in column on mobile
  &.button-bar--mobile {
    @include xsDown {
      flex-direction: column;
    }
  }
}

// Action bar side sections
.button-bar__left,
.button-bar__right {
  display: flex;
  flex-direction: row;
  align-items: center;

  // Buttons can be fullwidth on mobile
  .button-bar--mobile & {
    @include xsDown {
      width: 100%;
    }
  }
}

// Left action bar section
.button-bar__left {
  margin-right: auto;

  // Spacing between buttons
  .v-btn:not(:first-child),
  .v-menu:not(:first-child) {
    margin-left: $btn-spacing;
  }
}

// Right action bar section
.button-bar__right {
  margin-left: auto;

  // Spacing between buttons
  .v-btn:not(:last-child),
  .v-menu:not(:last-child) {
    margin-right: $btn-spacing;
  }
}
</style>
