<template>
  <div
    :class="{
      'progress-indicator': true,
      'progress-indicator--self-center': selfCenter,
    }"
  >
    <v-progress-circular :color="color" :size="size" indeterminate />
    <span v-if="text" class="progress-indicator__text">{{ text }}</span>
  </div>
</template>

<script>
/**
 * Indicator for progress of an operation
 */
export default {
  name: "ProgressIndicator",
  props: {
    /**
     * Indicator colour
     */
    color: {
      default: "primary",
      required: false,
      type: String,
    },
    /**
     * Whether the spinner should center itself within it's parent (position)
     */
    selfCenter: {
      default: false,
      required: false,
      type: Boolean,
    },
    /**
     * Size dimensions (px)
     */
    size: {
      default: 50,
      required: false,
      type: Number,
    },
    /**
     * Description text
     */
    text: {
      default: null,
      required: false,
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>
.progress-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // Self-centering indicators require a parent with relative positioning
  &.progress-indicator--self-center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

// Circular wrapper for spinner (gives background)
.progress-indicator__spinner {
  display: flex; // Fixes weird oval shape
  padding: 12px;
  background-color: white;
  border-radius: 100%;
}

.progress-indicator__text {
  margin-top: 16px;
  font-size: 18px;
}
</style>
