<template>
  <v-app class="app">
    <TheAppToolbar :loading="isLoading" :user="viewer" />
    <!-- "v-main" component is rendered by PageLayout to allow customizing background -->
    <router-view v-if="!isLoading" />
    <div v-else class="app__loading">
      <v-progress-circular
        class="app__loading__indicator"
        color="primary"
        indeterminate
        size="80"
      />
      <span class="app__loading__text">
        Loading App
      </span>
    </div>
    <!-- Single use components -->
    <TheAppSnackbar />
    <TheDebugHelper />
  </v-app>
</template>

<script>
// Components
import {
  TheAppSnackbar,
  TheAppToolbar,
  TheDebugHelper,
} from "@components/single";

//Utilities
import Auth from "@utilities/auth";

// GraphQl
import ViewerQuery from "@graphql/queries/Viewer";

export default {
  name: "App",
  components: {
    TheAppSnackbar,
    TheAppToolbar,
    TheDebugHelper,
  },
  data() {
    return {
      // Authentication is loading by default when app first opens.
      //   An additional flag (in addition to query) is used to ensure that
      //   the user is authenticated AND the route is valid. This should
      //   prevent any nested routes from invalidly requesting/displaying
      //   data if their component manages to mount before the route is invalidated.
      isAuthLoading: true,
      viewer: null,
    };
  },
  computed: {
    isLoading() {
      return this.$apollo.queries.viewer.loading || this.isAuthLoading;
    },
  },
  mounted() {
    // Refresh JWT when loading app and set up automatic refresh cycles
    //   to prevent token expiry (although it would be handled by Apollo).
    Auth.init();
  },
  methods: {
    /**
     * Handle authentication errors (redirection, etc).
     * @param {Object} error - Error
     */
    handleAuthError(error) {
      if (!this.$hasError(error, "NOT_AUTHORIZED")) {
        // TODO: Determine if/why this would ever happen...
      }

      const { fullPath, meta } = this.$route;

      // Redirect away from authenticated pages if the viewer authentication fails.
      if (meta && meta.requiresAuth) {
        this.$router.replace({
          path: "/signin",
          query: { redirectUrl: fullPath },
        });

        this.$notifyError("User is not authenticated");
      }

      this.isAuthLoading = false;
    },
  },
  apollo: {
    viewer: {
      query: ViewerQuery,
      fetchPolicy: "network-only",
      result({ data }) {
        const { viewer } = data;
        if (!viewer) {
          return this.handleAuthError(new Error("NOT_AUTHORIZED"));
        }

        Auth.setAuth({
          email: viewer.email,
          id: viewer.id,
          name: viewer.name,
        });

        // Redirect away from unauthenticated pages when authenticated
        const { meta } = this.$route;
        if (meta && meta.requiresNoAuth) {
          this.$router.replace("/");
        }

        // TODO: Possibly handle email codes while unvalidated (via notification)
        if (meta && meta.isEmailCode) {
          this.$notifyError("Email links are only valid when signed out!", {
            icon: "mdi-alert",
          });
        }

        this.isAuthLoading = false;
      },
      error(e) {
        this.handleAuthError(e);
      },
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@styles/_settings.scss";

.app.theme--light {
  background-color: #fdfdfd;
}

.app__loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app__loading__text {
  position: relative;
  margin-top: #{$spacing * 4}px;
  font-size: 1.5rem;

  &:after {
    position: absolute;
    content: "...";
  }
}
</style>
