<template>
  <v-snackbar
    v-model="snackbar.visible"
    :color="snackbar.type"
    :timeout="snackbar.timeout"
    bottom
    left
  >
    <v-icon v-if="snackbar.icon" class="snackbar__icon">
      {{ snackbar.icon }}
    </v-icon>
    <span class="snackbar__text">{{ snackbar.text }}</span>
    <v-btn
      v-if="snackbar.hasButton"
      :color="snackbar.buttonColor"
      :icon="Boolean(snackbar.buttonIcon)"
      class="snackbar__button"
      small
      text
      @click="snackbar.onClick"
    >
      <v-icon v-if="snackbar.buttonIcon">
        {{ snackbar.buttonIcon }}
      </v-icon>
      <template v-else-if="snackbar.buttonText">
        {{ snackbar.buttonText }}
      </template>
    </v-btn>
    <v-btn
      v-if="snackbar.closeable"
      class="snackbar__button--close"
      icon
      text
      @click="snackbar.onClose"
    >
      <v-icon>mdi-close</v-icon>
    </v-btn>
  </v-snackbar>
</template>

<script>
import { mapMutations } from "vuex";

// Utilities
import { UI__NOTIFICATION_CLOSE } from "@store/types";

// Default snackbar duration
const SNACKBAR_DURATION = 6000;

/**
 * Snackbar notification system
 */
export default {
  name: "TheAppSnackbar",
  computed: {
    snackbar() {
      const {
        buttonColor,
        buttonIcon,
        buttonText,
        closeable = true,
        icon = null,
        permanent = false,
        text,
        timeout,
        type,
        visible = false,
        onClick,
        onClose,
      } = this.$store.state.ui.snackbar;

      // Snackbar configuration
      const snackbar = {};
      snackbar.buttonColor = buttonColor || "white";
      snackbar.buttonIcon = buttonIcon;
      snackbar.buttonText = buttonText || "";
      snackbar.hasButton = (buttonIcon || buttonText) && onClick;
      snackbar.icon = icon;
      snackbar.text = text;
      snackbar.timeout = timeout || SNACKBAR_DURATION;
      snackbar.type = type || null;
      snackbar.visible = visible;

      // Close snackbar manually before calling click handler callback
      snackbar.onClick = onClick
        ? () => {
            this.snackbarClose();
            onClick();
          }
        : null;

      // Snackbars are closeable by default (with close icon)
      if (closeable) {
        snackbar.closeable = closeable;
        snackbar.onClose = () => {
          // Close snackbar manually before calling close handler callback
          this.snackbarClose();
          if (this.onClose) onClose();
        };
      }

      // Permanent snackbars override the timeout property
      if (permanent) {
        snackbar.timeout = -1;
      }

      return snackbar;
    },
  },
  methods: {
    ...mapMutations("ui", {
      snackbarClose: UI__NOTIFICATION_CLOSE,
    }),
  },
};
</script>

<style lang="scss" scoped>
@import "~@styles/_settings.scss";

// Snackbar icon
.snackbar__icon {
  margin-right: #{$spacing}px;
  color: white;
}

// Snackbar text
.snackbar__text {
  margin-right: auto;
}

// Snackbar button (optional)
.snackbar__button {
  width: fit-content;
}

// Snackbar close button
.snackbar__button--close {
  // Size override for Vuetify
  width: 36px !important;
  height: 36px !important;
  // Spacing override for Vuetify
  margin: -8px -16px -8px 8px !important;
  // Make ripple effect area larger
  padding: 4px;
}
</style>

<style lang="scss">
// Override default snackbar styling
.v-snack__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
</style>
