<template>
  <v-app-bar class="toolbar" color="#455a64" dark width="50">
    <v-container>
      <v-row no-gutters>
        <v-col xl="10" offset-xl="1">
          <div class="toolbar__content">
            <v-toolbar-title>
              OurGroup
            </v-toolbar-title>
            <div class="toolbar__version ml-4">v{{ appVersion }}</div>
            <v-spacer />
            <template v-if="!loading && isAuthenticated">
              <template v-if="!isSignoutRoute && user">
                <span class="mr-4">{{ user.name }}</span>
                <v-menu
                  bottom
                  left
                  max-width="200"
                  min-width="200"
                  nudgeBottom="8"
                  offsetY
                >
                  <template v-slot:activator="{ attrs, on }">
                    <v-btn
                      v-bind="attrs"
                      v-on="on"
                      class="elevation-2"
                      color="white"
                      fab
                      small
                    >
                      <span v-if="avatarText && false">{{ avatarText }}</span>
                      <v-icon v-else color="primary">
                        mdi-face
                      </v-icon>
                    </v-btn>
                  </template>
                  <v-list class="toolbar__menu__list">
                    <v-subheader class="toolbar__menu__title">
                      {{ user.name }}
                    </v-subheader>
                    <v-list-item to="/user/profile">
                      Profile
                    </v-list-item>
                    <v-divider />
                    <v-list-item to="/signout">
                      <v-icon class="mr-2">mdi-logout-variant</v-icon>
                      Sign Out
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
            </template>
            <template v-else-if="!loading">
              <template v-if="!isSignoutRoute">
                <v-btn v-if="!isSigninRoute" light rounded small to="/signin">
                  Sign In
                </v-btn>
                <v-btn v-else light rounded small to="/signup">
                  Sign Up
                </v-btn>
              </template>
            </template>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-app-bar>
</template>

<script>
// Utilities
import config from "@config";

export default {
  name: "TheAppToolbar",
  props: {
    /**
     * Whether the app is loading
     */
    loading: {
      type: Boolean,
      default: false,
    },
    /**
     * Authenticated user
     */
    user: {
      type: Object,
      default: () => null,
    },
  },
  data() {
    return {
      appVersion: config.app.version,
    };
  },
  computed: {
    avatarText() {
      if (!this.user) return null;

      const { firstName, lastName } = this.user;
      return `${firstName.substring(0, 1)}${lastName.substring(0, 1)}`;
    },
    isAuthenticated() {
      return this.$store.getters["auth/isAuthenticated"];
    },
    isSigninRoute() {
      return this.$route.name === "signin";
    },
    isSignoutRoute() {
      return this.$route.name === "signout";
    },
  },
};
</script>

<style lang="scss" scoped>
// App toolbar
.toolbar {
  // NOTE: Necessary for some reason
  width: 100vw !important;
  flex-grow: 0;
  // NOTE: Place above background image
  z-index: 1;
}

// Toolbar content (inside column)
.toolbar__content {
  display: flex;
  align-items: center;
  width: 100%;
}

// Toolbar version indicator
.toolbar__version {
  color: lightgrey;
  font-size: 0.9rem;
}

.toolbar__menu__list {
  padding-bottom: 0;
}

.toolbar__menu__title {
  font-size: 1rem;
  font-weight: 600;
}
</style>
