<template>
  <div
    v-shortkey.once="{
      media: ['ctrl', 'shift', 'm'],
    }"
    @shortkey="onDebugKey"
  >
    <!-- Indicate current media query breakpoint -->
    <div v-if="isBreakpointVisible" class="size-indicator">
      <div v-if="$vuetify.breakpoint.xsOnly">xs</div>
      <div v-else-if="$vuetify.breakpoint.smOnly">sm</div>
      <div v-else-if="$vuetify.breakpoint.mdOnly">md</div>
      <div v-else-if="$vuetify.breakpoint.lgOnly">lg</div>
      <div v-else-if="$vuetify.breakpoint.xlOnly">xl</div>
    </div>
  </div>
</template>

<script>
// Utilities
import config from "@config";
import Storage from "@utilities/storage";

/**
 * Helpful debug information for developers
 *   - Current media query breakpoint
 */
export default {
  name: "TheDebugHelper",
  data: () => ({
    // Whether the breakpoint indicator is displayed
    isBreakpointToggled: false,
  }),
  computed: {
    /**
     * Media query helper is never visible in production
     */
    isBreakpointVisible() {
      return !config.app.IS_PRODUCTION && this.isBreakpointToggled;
    },
  },
  created() {
    // Must use "window" for adding "beforeunload" function
    window.addEventListener("beforeunload", this.onUnload);
  },
  mounted() {
    // Set media query visibility if defined in local storage
    this.isBreakpointToggled = Storage.getMediaQueryVisibility();
  },
  methods: {
    /**
     * Debug key handler (supports multiple actions)
     * @param {Object} event - Action corresponding to shortcut sequence used
     */
    onDebugKey(event) {
      switch (event.srcKey) {
        case "media":
          this.onMediaQueryToggle();
          break;
        default:
          break;
      }
    },
    /**
     * Toggle the media query helper visibility
     */
    onMediaQueryToggle() {
      this.isBreakpointToggled = !this.isBreakpointToggled;
    },
    /**
     * Perform necessary actions before the window is closed/refreshed
     */
    onUnload() {
      // Store the current visibility status of the media query helper
      Storage.setMediaQueryVisibility(this.isBreakpointToggled);
    },
  },
};
</script>

<style lang="scss" scoped>
// Media query size indicator
.size-indicator {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 4px 16px;
  background-color: #efefef;
  border: 1px solid #bdbdbd;
  border-top-right-radius: 8px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  opacity: 0.8;
}
</style>
