// Default spacing utility
$spacing: 8;

// Base breakpoint values (used in calculations without `px` value)
$breakpoint-xs: 0;
$breakpoint-sm: 600;
$breakpoint-md: 960;
$breakpoint-lg: 1280;
$breakpoint-xl: 1920;

// Sizing
$btn-height: 40px;
$btn-size-sm: 100px;
$btn-size-md: 160px;
$btn-size-lg: 200px;
$btn-spacing: 24px; // Spacing between buttons
$input-size-xs: 80px;
$input-size-sm: 160px;
$input-size-md: 280px;
$input-size-lg: 360px;
