////////////////////////////////////////////////////////////////////////////////
// Utility
////////////////////////////////////////////////////////////////////////////////

// Make items appear clickable
.clickable {
  cursor: pointer;
}

// Remove default margin
.no-margin {
  margin: 0;
}

// Remove default border radius
.no-radius {
  border-radius: 0;
}
