/**
 * Common app backgrounds
 */

// Authentication pages background
.authentication-background {
  // Background color only applies if SVG doesn't load
  background-color: #0d47a1;
  // Background by SVGBackgrounds.com
  background-image: url(../assets/liquid-cheese-background.svg);
  background-attachment: fixed;
  background-size: cover;
}
