/**
 * Vuetify overrides
 */

@import "~@styles/_breakpoints.scss";
@import "~@styles/_settings.scss";

////////////////////////////////////////////////////////////////////////////////
// Textfields

// Textfield overrides
.v-text-field {
  // Width is constrained by accompanying classes
  width: 100%;
  max-width: $input-size-md;

  fieldset {
    border-width: 2px;
  }
}

// Several fixed widths for inputs
//   NOTE: Not nested underneath inputs as some non-input components use them
.input--full {
  max-width: 100%;
}
.input--large {
  max-width: $input-size-lg;
}
.input--medium {
  max-width: $input-size-md;
}
.input--small {
  max-width: $input-size-sm;
}
.input--tiny {
  max-width: $input-size-xs;
}

////////////////////////////////////////////////////////////////////////////////
// Buttons

// Button overrides
.v-btn {
  text-transform: none;

  // Minimum button widths (3 sizes, medium is default)
  &:not(.v-btn--icon):not(.v-btn--fab) {
    &.v-size--default {
      min-width: $btn-size-md;
    }

    &.v-size--small {
      min-width: $btn-size-sm;
    }

    &.v-size--large {
      min-width: $btn-size-lg;
    }

    // Button default size is small in mobile device
    @include xsDown {
      min-width: $btn-size-sm;

      // For full screen size buttons
      &.v-btn--mobile-full-width {
        min-width: 100%;
      }
    }
  }

  // NOTE: This extra class is simply to override Vuetify without using !important.
  //         It is likely an error (since "rounded" prop uses "v-btn--rounded")...
  &:not(.v-btn--round) {
    // Standardize properties across button sizes (overriding Vuetify defaults).
    //   NOTE: Treat buttons differently per size than Vuetify does.
    &.v-size--default,
    &.v-size--small,
    &.v-size--large {
      height: $btn-height;
      margin: 0;
      font-size: 14px;
    }
  }

  // Nested icons don't need so much spacing
  .v-icon--left {
    margin-right: 8px;
  }

  // Nested icons don't need so much spacing
  .v-icon--right {
    margin-left: 8px;
  }

}

.v-picker--date {
  .v-btn:not(.v-btn--icon).v-size--default {
    min-width: 64px;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Snackbars

.v-snack {
  .v-btn.v-size--small {
    height: 28px;
  }
}
