<template>
  <fragment>
    <ConfirmDialog
      v-model="isLeaveFormActive"
      cancelText="Stay"
      confirmText="Leave"
      title="Unsaved Changes"
      @cancel="formLeaveCallback(false)"
      @confirm="formLeaveCallback(true)"
    >
      There are unsaved changes that will be lost if you continue!
    </ConfirmDialog>
    <TitleBar class="ma-0">
      Profile
      <v-btn
        v-if="true"
        slot="right"
        :disabled="isEditing"
        color="primary"
        small
        text
        @click="isEditing = true"
      >
        <v-icon left>mdi-pencil</v-icon>
        Edit
      </v-btn>
    </TitleBar>
    <v-divider class="mt-2 mb-4" />
    <ValidationObserver
      v-slot="{ valid: isValid }"
      ref="formObserver"
      tag="form"
      @submit.prevent=""
    >
      <v-container
        v-if="!isLoading"
        :class="{ 'is-editing': isEditing }"
        class="profile-card__form"
      >
        <v-row>
          <v-col cols="12" md="6">
            <TextField
              v-model.trim="form.fields.firstName"
              :disabled="!isEditing || form.flags.disabled"
              name="firstName"
              label="First Name"
              rules="required|min:2"
            />
          </v-col>
          <v-col cols="12" md="6">
            <TextField
              v-model.trim="form.fields.lastName"
              :disabled="!isEditing || form.flags.disabled"
              name="lastName"
              label="Last Name"
              rules="required|min:2"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="6">
            <TextField v-model="form.fields.email" disabled label="Email" />
          </v-col>
          <v-col cols="12" md="6">
            <TextField
              v-model.trim="form.fields.phoneNumber"
              :disabled="!isEditing || form.flags.disabled"
              label="Phone"
              name="phoneNumber"
              max="15"
              rules="numeric|min:10|max:15"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="6">
            <DatePicker
              v-model="form.fields.dateOfBirth"
              :disabled="!isEditing || form.flags.disabled"
              :max="birthDateRange.max"
              :min="birthDateRange.min"
              name="dateOfBirth"
              label="Birthday"
            />
          </v-col>
          <v-col cols="12" md="6">
            <SelectField
              v-model="form.fields.gender"
              :disabled="!isEditing || form.flags.disabled"
              :items="genderItems"
              :menu-props="{ dense: false }"
              clearable
              name="gender"
              label="Gender"
            />
          </v-col>
        </v-row>
        <ButtonBar v-if="isEditing">
          <template slot="right">
            <v-btn
              :disabled="form.flags.disabled"
              color="primary"
              text
              @click="resetForm"
            >
              Cancel
            </v-btn>
            <v-btn
              :disabled="form.flags.disabled || !isValid || !form.flags.changed"
              color="primary"
              @click="submitForm"
            >
              Save
            </v-btn>
          </template>
        </ButtonBar>
      </v-container>
      <ProgressIndicator v-else text="Loading profile" />
    </ValidationObserver>
  </fragment>
</template>

<script>
import {
  FormCreateMixin,
  FormLeaveGuardMixin,
} from "@kendallroth/vue-simple-forms";
import { sub } from "date-fns";
import { ValidationObserver } from "vee-validate";

// GraphQL
import ProfileUpdateMutation from "@graphql/mutations/User/ProfileUpdate";
import ProfileQuery from "@graphql/queries/User/Profile";

const formFields = {
  dateOfBirth: "",
  email: "",
  firstName: "",
  gender: null,
  lastName: "",
  phoneNumber: "",
};

export default {
  name: "UserProfile",
  components: {
    ValidationObserver,
  },
  mixins: [FormCreateMixin("form", formFields), FormLeaveGuardMixin("form")],
  data() {
    return {
      genderItems: [
        { text: "Male", value: "MALE" },
        { text: "Female", value: "FEMALE" },
        { text: "Other", value: "OTHER" },
      ],
      isEditing: false,
      profile: null,
    };
  },
  computed: {
    birthDateRange() {
      return {
        max: new Date().toISOString().slice(0, 10),
        min: sub(new Date(), { years: 100 }).toISOString().slice(0, 10),
      };
    },
    isLoading() {
      return this.$apollo.queries.profile.loading;
    },
  },
  methods: {
    /**
     * Reset the form
     */
    resetForm() {
      this.isEditing = false;
      this.form.reset();
      this.$refs.formObserver.reset();
    },
    /**
     * Save the form changes
     */
    async submitForm() {
      const valid = await this.$refs.formObserver.validate();
      if (!valid) return;

      const values = this.form.getValues();
      const { dateOfBirth, gender, firstName, lastName, phoneNumber } = values;

      this.form.setSubmitting(true);

      try {
        await this.$apollo.mutate({
          mutation: ProfileUpdateMutation,
          variables: {
            input: {
              dateOfBirth,
              firstName,
              lastName,
              gender,
              phoneNumber,
            },
          },
        });

        // QUESTION: Do the form fields need to be updated from the server?

        this.$notify("Profile updated");
        this.$refs.formObserver.reset();

        this.isEditing = false;
      } catch (e) {
        const errorChecks = [];
        this.$refs.formObserver.setErrors(this.$getFormErrors(errorChecks, e));

        this.$notifyError(this.$getError(e, "Profile update failed"));
      } finally {
        this.form.setSubmitting(false);
      }
    },
  },
  apollo: {
    profile: {
      query: ProfileQuery,
      update: (data) => {
        if (!data || !data.viewer) return data;

        const { viewer } = data;
        const { firstName, lastName, name, profile } = viewer;

        return { ...profile, firstName, lastName, name };
      },
      result({ data }) {
        const { firstName, lastName, profile } = data.viewer;
        const { dateOfBirth, email, gender, phoneNumber } = profile;

        this.form.setValues({
          dateOfBirth,
          email,
          firstName,
          gender,
          lastName,
          phoneNumber,
        });
      },
      error(e) {
        this.$notifyError(this.$getError(e, "Error loading profile"));
      },
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@styles/_settings.scss";

.profile-card__form {
  padding: 0;

  .row {
    > * {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}
</style>

<style lang="scss">
.profile-card__form {
  &:not(.is-editing) {
    .v-text-field {
      pointer-events: initial;

      // NOTE: Possible option
      fieldset {
        // border-color: transparent;
      }

      .v-input__slot {
        background-color: #fdfdfd;
      }

      input,
      .v-select__selection {
        color: rgba(0, 0, 0, 0.8);
      }

      .v-label {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
</style>
