<template>
  <fragment>
    <ConfirmDialog
      v-model="isLeaveFormActive"
      cancelText="Stay"
      confirmText="Leave"
      title="Unsaved Changes"
      @cancel="formLeaveCallback(false)"
      @confirm="formLeaveCallback(true)"
    >
      There are unsaved changes that will be lost if you continue!
    </ConfirmDialog>
    <TitleBar class="ma-0">Settings</TitleBar>
    <v-divider class="mt-2 mb-4" />
    <ValidationObserver
      v-slot="{ valid: isValid }"
      ref="passwordFormObserver"
      tag="form"
      @submit.prevent=""
    >
      <v-container class="settings-card__form">
        <v-row>
          <v-col cols="12" md="6">
            <TextField
              v-model.trim="passwordForm.fields.passwordCurrent"
              :disabled="passwordForm.flags.disabled"
              label="Current Password"
              name="passwordCurrent"
              placeholder="Current Password"
              rules="required"
              type="password"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="6">
            <TextField
              v-model="passwordForm.fields.passwordNew"
              :disabled="passwordForm.flags.disabled"
              label="New Password"
              name="passwordNew"
              rules="required|min:4|not_password:@passwordCurrent"
              placeholder="New Password"
              type="password"
            />
          </v-col>
          <v-col cols="12" md="6">
            <TextField
              v-model.trim="passwordForm.fields.passwordConfirm"
              :disabled="passwordForm.flags.disabled"
              label="Confirm Password"
              name="passwordConfirm"
              placeholder="Confirm Password"
              rules="required|password:@passwordNew"
              type="password"
            />
          </v-col>
        </v-row>
        <ButtonBar>
          <template slot="right">
            <v-btn
              :disabled="
                passwordForm.flags.disabled || !passwordForm.flags.changed
              "
              color="primary"
              text
              @click="resetForm"
            >
              Cancel
            </v-btn>
            <v-btn
              :disabled="
                passwordForm.flags.disabled ||
                !isValid ||
                !passwordForm.flags.changed
              "
              color="primary"
              @click="submitForm"
            >
              Save
            </v-btn>
          </template>
        </ButtonBar>
      </v-container>
    </ValidationObserver>
  </fragment>
</template>

<script>
import {
  FormCreateMixin,
  FormLeaveGuardMixin,
} from "@kendallroth/vue-simple-forms";
import { ValidationObserver } from "vee-validate";

// GraphQL
import PasswordChangeMutation from "@graphql/mutations/User/PasswordChange";

const formFields = {
  passwordCurrent: "",
  passwordNew: "",
  passwordConfirm: "",
};

export default {
  name: "UserSettings",
  components: {
    ValidationObserver,
  },
  mixins: [
    FormCreateMixin("passwordForm", formFields),
    FormLeaveGuardMixin(["passwordForm"]),
  ],
  methods: {
    /**
     * Reset the form
     */
    resetForm() {
      this.passwordForm.reset();
      this.$refs.passwordFormObserver.reset();
    },
    /**
     * Save the form changes
     */
    async submitForm() {
      const valid = await this.$refs.passwordFormObserver.validate();
      if (!valid) return;

      const values = this.passwordForm.getValues();
      const { passwordCurrent, passwordNew } = values;

      this.passwordForm.setSubmitting(true);

      try {
        await this.$apollo.mutate({
          mutation: PasswordChangeMutation,
          variables: {
            input: {
              password: passwordCurrent,
              passwordNew,
            },
          },
        });

        this.$notify("Password changed");
        this.$refs.passwordFormObserver.reset();
        this.passwordForm.reset();
      } catch (e) {
        const errorChecks = [
          {
            field: "passwordCurrent",
            code: "USER_PASSWORD_CHANGE__INVALID_CREDENTIALS",
          },
          {
            field: "passwordNew",
            code: "USER_PASSWORD_CHANGE__PASSWORD_SAME",
          },
          {
            field: "passwordNew",
            code: "USER_PASSWORD_CHANGE__PASSWORD_INVALID",
          },
          { field: "passwordNew", code: "USER_PASSWORD_CHANGE__PASSWORD_WEAK" },
        ];
        this.$refs.passwordFormObserver.setErrors(
          this.$getFormErrors(errorChecks, e)
        );

        this.$notifyError(this.$getError(e, "Password change failed"));
      } finally {
        this.passwordForm.setSubmitting(false);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@styles/_settings.scss";

.settings-card__form {
  padding: 0;

  .row {
    > * {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}
</style>
