<template>
  <PageLayout
    :classes="{ content: 'user__content' }"
    class="mt-5"
    size="medium"
  >
    <v-card class="user-card">
      <div class="user-card__menu">
        <div class="user-card__menu__name">
          <template v-if="viewer">{{ viewer.name }}</template>
          <v-skeleton-loader v-else type="heading" />
        </div>
        <v-list shaped>
          <v-list-item
            v-for="link in links"
            :key="link.path"
            :to="link.to"
            color="primary"
          >
            <v-list-item-icon>
              <v-icon>{{ link.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>{{ link.text }}</v-list-item-content>
          </v-list-item>
        </v-list>
      </div>
      <div class="user-card__content">
        <router-view></router-view>
      </div>
    </v-card>
  </PageLayout>
</template>

<script>
// GraphQL
import UserProfileQuery from "@graphql/queries/User/Profile";

export default {
  name: "User",
  data() {
    return {
      links: [
        { icon: "mdi-face", text: "Profile", to: "/user/profile" },
        { icon: "mdi-cog", text: "Settings", to: "/user/settings" },
      ],
    };
  },
  apollo: {
    viewer: {
      query: UserProfileQuery,
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@styles/_settings.scss";

// TODO: Figure out mobile styles

.user-card__menu {
  min-width: 250px;
  padding: #{$spacing * 2}px 0;
  border-right: 1px solid lightgrey;
  border-radius: 0 !important; // Vuetify override
}

.user-card__menu__name {
  height: 1.5rem;
  margin-bottom: #{$spacing * 2}px;
  padding: 0 #{$spacing * 2}px;
  font-size: 1.25rem;
}

.user-card__content {
  flex-grow: 1;
  padding: #{$spacing * 2}px #{$spacing * 4}px;
}
</style>

<style lang="scss">
.user-card {
  display: flex;
  flex-direction: row;
}
</style>
